ARM Template Generator and Deployer/ExtranetPublisher/template.json
{
    "$schema": "https://schema.management.azure.com/schemas/2019-04-01/deploymentTemplate.json#",
    "contentVersion": "1.0.0.0",
    "parameters": {
        "workflows_Form_Test_name": {
            "type": "String"
        },
        "connections_office365_name": {
            "type": "String"
        },
        "workflows_Peter_Test_name": {
            "type": "String"
        },
        "connections_sharepointonline_name": {
            "type": "String"
        },
        "connections_commondataservice_name": {
            "type": "String"
        },
        "workflows_wwwdev2_extranetusermanager_com_sign_in_name": {
            "type": "String"
        },
        "workflows_wwwdev2_extranetusermanager_com_publisher_name": {
            "type": "String"
        },
        "actionGroups_Application_Insights_Smart_Detection_name": {
            "type": "String"
        },
        "workflows_wwwdev_cms_extranetusermanager_com_publish_name": {
            "type": "String"
        },
        "workflows_wwwdev2_extranetusermanager_com_gated_content2_name": {
            "type": "String"
        },
        "workflows_wwwdev2_extranetusermanager_com_publisher_test_name": {
            "type": "String"
        },
        "workflows_wwwdev2_extranetusermanager_com_event_registration_name": {
            "type": "String"
        },
        "smartdetectoralertrules_failure_anomalies___eitdev_siteprovisioning_name": {
            "type": "String"
        },
        "smartdetectoralertrules_failure_anomalies___eitdev_siteprovisioningapi_name": {
            "type": "String"
        },
        "components_eitdev_siteprovisioning_externalid": {
            "type": "String"
        },
        "components_eitdev_siteprovisioningapi_externalid": {
            "type": "String"
        },
        "Divisions List GUID": {
            "defaultValue": "21b67df9-a804-45ea-9ebc-56ed397b806c",
            "type": "String"
        },
        "opEmail": {
            "defaultValue": "pcarson@envisionitdev.onmicrosoft.com",
            "type": "String"
        },
        "Site Address": {
            "defaultValue": "https://envisionitdev.sharepoint.com/sites/Landing",
            "type": "String"
        },
        "siteListGUID": {
            "defaultValue": "0c6bd8d0-0f96-4371-9c83-14f4a86d0bb8",
            "type": "String"
        }
    },
    "variables": {
        
    },
    "resources": [
      {
        "type": "microsoft.insights/actionGroups",
        "apiVersion": "2019-06-01",
        "name": "[parameters('actionGroups_Application_Insights_Smart_Detection_name')]",
        "location": "Global",
        "properties": {
          "groupShortName": "SmartDetect",
          "enabled": true,
          "emailReceivers": [

          ],
          "smsReceivers": [

          ],
          "webhookReceivers": [

          ],
          "itsmReceivers": [

          ],
          "azureAppPushReceivers": [

          ],
          "automationRunbookReceivers": [

          ],
          "voiceReceivers": [

          ],
          "logicAppReceivers": [

          ],
          "azureFunctionReceivers": [

          ],
          "armRoleReceivers": [
            {
              "name": "Monitoring Contributor",
              "roleId": "749f88d5-cbae-40b8-bcfc-e573ddc772fa",
              "useCommonAlertSchema": true
            },
            {
              "name": "Monitoring Reader",
              "roleId": "43d0d8ad-25c7-4714-9337-8ba259a9fe05",
              "useCommonAlertSchema": true
            }
          ]
        }
      },
        {
            "type": "Microsoft.Logic/workflows",
            "apiVersion": "2017-07-01",
            "name": "[parameters('workflows_Form_Test_name')]",
            "location": "[resourceGroup().location]",
            "properties": {
                "state": "Enabled",
                "definition": {
                    "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
                    "contentVersion": "1.0.0.0",
                    "parameters": {
                        
                    },
                    "triggers": {
                        
                    },
                    "actions": {
                        
                    },
                    "outputs": {
                        
                    }
                },
                "parameters": {
                    
                }
            }
        },
        {
            "type": "Microsoft.Logic/workflows",
            "apiVersion": "2017-07-01",
            "name": "[parameters('workflows_wwwdev2_extranetusermanager_com_publisher_test_name')]",
            "location": "[resourceGroup().location]",
            "properties": {
                "state": "Enabled",
                "definition": {
                    "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
                    "contentVersion": "1.0.0.0",
                    "parameters": {
                        
                    },
                    "triggers": {
                        "manual": {
                            "type": "Request",
                            "kind": "Http",
                            "inputs": {
                                "method": "PATCH",
                                "schema": {
                                    "properties": {
                                        "ID": {
                                            "type": "string"
                                        },
                                        "PageContent": {
                                            "type": "string"
                                        }
                                    },
                                    "required": [
                                        "ID",
                                        "PageContent"
                                    ],
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "actions": {
                        
                    },
                    "outputs": {
                        
                    }
                },
                "parameters": {
                    
                }
            }
        },
        {
            "type": "Microsoft.Web/connections",
            "apiVersion": "2016-06-01",
            "name": "[parameters('connections_commondataservice_name')]",
            "location": "[resourceGroup().location]",
            "kind": "V1",
            "properties": {
                "displayName": "pcarson@envisionit.com",
                "customParameterValues": {
                    
                },
                "api": {
                    "id": "[concat('/subscriptions/', subscription().subscriptionId, '/providers/Microsoft.Web/locations/', resourceGroup().location, '/managedApis/', parameters('connections_commondataservice_name'))]"
                }
            }
        },
        {
            "type": "Microsoft.Web/connections",
            "apiVersion": "2016-06-01",
            "name": "[parameters('connections_office365_name')]",
            "location": "[resourceGroup().location]",
            "kind": "V1",
            "properties": {
                "displayName": "lguest@envisionit.com",
                "customParameterValues": {
                    
                },
                "api": {
                    "id": "[concat('/subscriptions/', subscription().subscriptionId, '/providers/Microsoft.Web/locations/', resourceGroup().location, '/managedApis/', parameters('connections_office365_name'))]"
                }
            }
        },
        {
            "type": "Microsoft.Web/connections",
            "apiVersion": "2016-06-01",
            "name": "[parameters('connections_sharepointonline_name')]",
            "location": "[resourceGroup().location]",
            "kind": "V1",
            "properties": {
                "displayName": "[parameters('opEmail')]",
                "customParameterValues": {
                    
                },
                "api": {
                    "id": "[concat('/subscriptions/', subscription().subscriptionId, '/providers/Microsoft.Web/locations/', resourceGroup().location, '/managedApis/', parameters('connections_sharepointonline_name'))]"
                }
            }
        },
      {
        "type": "microsoft.alertsmanagement/smartdetectoralertrules",
        "apiVersion": "2019-06-01",
        "name": "[parameters('smartdetectoralertrules_failure_anomalies___eitdev_siteprovisioning_name')]",
        "location": "Global",
        "dependsOn": [
          "[resourceId('microsoft.insights/actionGroups', parameters('actionGroups_Application_Insights_Smart_Detection_name'))]"
        ],
        "properties": {
          "description": "Failure Anomalies notifies you of an unusual rise in the rate of failed HTTP requests or dependency calls.",
          "state": "Enabled",
          "severity": "Sev3",
          "frequency": "PT1M",
          "detector": {
            "id": "FailureAnomaliesDetector",
            "name": "Failure Anomalies",
            "description": "Detects if your application experiences an abnormal rise in the rate of HTTP requests or dependency calls that are reported as failed. The anomaly detection uses machine learning algorithms and occurs in near real time, therefore there's no need to define a frequency for this signal.<br/></br/>To help you triage and diagnose the problem, an analysis of the characteristics of the failures and related telemetry is provided with the detection. This feature works for any app, hosted in the cloud or on your own servers, that generates request or dependency telemetry - for example, if you have a worker role that calls <a class=\"ext-smartDetecor-link\" href=\\\"https://docs.microsoft.com/azure/application-insights/app-insights-api-custom-events-metrics#trackrequest\\\" target=\\\"_blank\\\">TrackRequest()</a> or <a class=\"ext-smartDetecor-link\" href=\\\"https://docs.microsoft.com/azure/application-insights/app-insights-api-custom-events-metrics#trackdependency\\\" target=\\\"_blank\\\">TrackDependency()</a>.<br/><br/><a class=\"ext-smartDetecor-link\" href=\\\"https://docs.microsoft.com/azure/azure-monitor/app/proactive-failure-diagnostics\\\" target=\\\"_blank\\\">Learn more about Failure Anomalies</a><br><br><b>A note about your data privacy:</b><br><br>The service is entirely automatic and only you can see these notifications. <a class=\\\"ext-smartDetecor-link\\\" href=\\\"https://docs.microsoft.com/en-us/azure/azure-monitor/app/data-retention-privacy\\\" target=\\\"_blank\\\">Read more about data privacy</a><br><br>Smart Alerts conditions can't be edited or added for now.",
            "supportedResourceTypes": [
              "ApplicationInsights"
            ]
          },
          "scope": [
            "[concat('/subscriptions/', subscription().subscriptionId, '/resourceGroups/', resourceGroup().location, '/providers/microsoft.insights/components/', parameters('components_eitdev_siteprovisioning_externalid'))]"
          ],
          "actionGroups": {
            "groupIds": [
              "[resourceId('microsoft.insights/actionGroups', parameters('actionGroups_Application_Insights_Smart_Detection_name'))]"
            ]
          }
        }
      },
      {
        "type": "microsoft.alertsmanagement/smartdetectoralertrules",
        "apiVersion": "2019-06-01",
        "name": "[parameters('smartdetectoralertrules_failure_anomalies___eitdev_siteprovisioningapi_name')]",
        "location": "Global",
        "dependsOn": [
          "[resourceId('microsoft.insights/actionGroups', parameters('actionGroups_Application_Insights_Smart_Detection_name'))]"
        ],
        "properties": {
          "description": "Failure Anomalies notifies you of an unusual rise in the rate of failed HTTP requests or dependency calls.",
          "state": "Enabled",
          "severity": "Sev3",
          "frequency": "PT1M",
          "detector": {
            "id": "FailureAnomaliesDetector",
            "name": "Failure Anomalies",
            "description": "Detects if your application experiences an abnormal rise in the rate of HTTP requests or dependency calls that are reported as failed. The anomaly detection uses machine learning algorithms and occurs in near real time, therefore there's no need to define a frequency for this signal.<br/></br/>To help you triage and diagnose the problem, an analysis of the characteristics of the failures and related telemetry is provided with the detection. This feature works for any app, hosted in the cloud or on your own servers, that generates request or dependency telemetry - for example, if you have a worker role that calls <a class=\"ext-smartDetecor-link\" href=\\\"https://docs.microsoft.com/azure/application-insights/app-insights-api-custom-events-metrics#trackrequest\\\" target=\\\"_blank\\\">TrackRequest()</a> or <a class=\"ext-smartDetecor-link\" href=\\\"https://docs.microsoft.com/azure/application-insights/app-insights-api-custom-events-metrics#trackdependency\\\" target=\\\"_blank\\\">TrackDependency()</a>.<br/><br/><a class=\"ext-smartDetecor-link\" href=\\\"https://docs.microsoft.com/azure/azure-monitor/app/proactive-failure-diagnostics\\\" target=\\\"_blank\\\">Learn more about Failure Anomalies</a><br><br><b>A note about your data privacy:</b><br><br>The service is entirely automatic and only you can see these notifications. <a class=\\\"ext-smartDetecor-link\\\" href=\\\"https://docs.microsoft.com/en-us/azure/azure-monitor/app/data-retention-privacy\\\" target=\\\"_blank\\\">Read more about data privacy</a><br><br>Smart Alerts conditions can't be edited or added for now.",
            "supportedResourceTypes": [
              "ApplicationInsights"
            ]
          },
          "scope": [
            "[concat('/subscriptions/', subscription().subscriptionId, '/resourceGroups/', resourceGroup().location, '/providers/microsoft.insights/components/', parameters('components_eitdev_siteprovisioningapi_externalid'))]"
          ],
          "actionGroups": {
            "groupIds": [
              "[resourceId('microsoft.insights/actionGroups', parameters('actionGroups_Application_Insights_Smart_Detection_name'))]"
            ]
          }
        }
      },
        {
            "type": "Microsoft.Logic/workflows",
            "apiVersion": "2017-07-01",
            "name": "[parameters('workflows_Peter_Test_name')]",
            "location": "[resourceGroup().location]",
            "dependsOn": [
                "[resourceId('Microsoft.Web/connections', parameters('connections_sharepointonline_name'))]"
            ],
            "properties": {
                "state": "Enabled",
                "definition": {
                    "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
                    "contentVersion": "1.0.0.0",
                    "parameters": {
                        "$connections": {
                            "defaultValue": {
                                
                            },
                            "type": "Object"
                        }
                    },
                    "triggers": {
                        "manual": {
                            "type": "Request",
                            "kind": "Http",
                            "inputs": {
                                "schema": {
                                    
                                }
                            }
                        }
                    },
                    "actions": {
                        "Get_item": {
                            "runAfter": {
                                
                            },
                            "type": "ApiConnection",
                            "inputs": {
                                "host": {
                                    "connection": {
                                        "name": "@parameters('$connections')['sharepointonline']['connectionId']"
                                    }
                                },
                                "method": "get",
                                "path": "/datasets/@{encodeURIComponent(encodeURIComponent('https://envisionitdev.sharepoint.com/sites/wwwcmsdevextranetusermanagercom'))}/tables/@{encodeURIComponent(encodeURIComponent('19eac636-4a69-4e27-9726-26dd064b04fa'))}/items/@{encodeURIComponent('2280')}"
                            }
                        },
                        "Initialize_variable": {
                            "runAfter": {
                                "Get_item": [
                                    "Succeeded"
                                ]
                            },
                            "type": "InitializeVariable",
                            "inputs": {
                                "variables": [
                                    {
                                        "name": "Body",
                                        "type": "string",
                                        "value": "@body('Get_item')?['PageContent']"
                                    }
                                ]
                            }
                        }
                    },
                    "outputs": {
                        
                    }
                },
                "parameters": {
                    "$connections": {
                        "value": {
                            "sharepointonline": {
                                "connectionId": "[resourceId('Microsoft.Web/connections', parameters('connections_sharepointonline_name'))]",
                                "connectionName": "sharepointonline",
                                "id": "[concat('/subscriptions/', subscription().subscriptionId, '/providers/Microsoft.Web/locations/', resourceGroup().location, '/managedApis/sharepointonline')]"
                            }
                        }
                    }
                }
            }
        },
        {
            "type": "Microsoft.Logic/workflows",
            "apiVersion": "2017-07-01",
            "name": "[parameters('workflows_wwwdev2_extranetusermanager_com_publisher_name')]",
            "location": "[resourceGroup().location]",
            "dependsOn": [
                "[resourceId('Microsoft.Web/connections', parameters('connections_sharepointonline_name'))]"
            ],
            "properties": {
                "state": "Enabled",
                "definition": {
                    "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
                    "contentVersion": "1.0.0.0",
                    "parameters": {
                        "$connections": {
                            "defaultValue": {
                                
                            },
                            "type": "Object"
                        }
                    },
                    "triggers": {
                        "manual": {
                            "type": "Request",
                            "kind": "Http",
                            "inputs": {
                                "method": "PATCH",
                                "schema": {
                                    "properties": {
                                        "ID": {
                                            "type": "string"
                                        },
                                        "PageContent": {
                                            "type": "string"
                                        },
                                        "Title": {
                                            "type": "string"
                                        }
                                    },
                                    "required": [
                                        "ID",
                                        "PageContent",
                                        "Title"
                                    ],
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "actions": {
                        "Delay": {
                            "runAfter": {
                                "HTTP": [
                                    "Succeeded"
                                ]
                            },
                            "type": "Wait",
                            "inputs": {
                                "interval": {
                                    "count": 1,
                                    "unit": "Second"
                                }
                            }
                        },
                        "HTTP": {
                            "runAfter": {
                                "Update_item": [
                                    "Succeeded"
                                ]
                            },
                            "type": "Http",
                            "inputs": {
                                "method": "POST",
                                "uri": "https://wwwdev2extranetusermanager-cms.azurewebsites.net/_API/v1/Publisher?PageId=@{triggerBody()['ID']}"
                            }
                        },
                        "Response": {
                            "runAfter": {
                                "Delay": [
                                    "Succeeded"
                                ]
                            },
                            "type": "Response",
                            "kind": "Http",
                            "inputs": {
                                "statusCode": 200
                            }
                        },
                        "Update_item": {
                            "runAfter": {
                                
                            },
                            "type": "ApiConnection",
                            "inputs": {
                                "body": {
                                    "PageContent": "@triggerBody()['PageContent']",
                                    "Title": "@triggerBody()['Title']"
                                },
                                "host": {
                                    "connection": {
                                        "name": "@parameters('$connections')['sharepointonline']['connectionId']"
                                    }
                                },
                                "method": "patch",
                                "path": "/datasets/@{encodeURIComponent(encodeURIComponent('https://envisionitdev.sharepoint.com/sites/wwwdev2extranetusermanagercom'))}/tables/@{encodeURIComponent(encodeURIComponent('eb896c18-9eb2-40e6-9811-39a0d70d0e32'))}/items/@{encodeURIComponent(triggerBody()['ID'])}"
                            }
                        }
                    },
                    "outputs": {
                        
                    }
                },
                "parameters": {
                    "$connections": {
                        "value": {
                            "sharepointonline": {
                                "connectionId": "[resourceId('Microsoft.Web/connections', parameters('connections_sharepointonline_name'))]",
                                "connectionName": "sharepointonline",
                                "id": "[concat('/subscriptions/', subscription().subscriptionId, '/providers/Microsoft.Web/locations/', resourceGroup().location, '/managedApis/sharepointonline')]"
                            }
                        }
                    }
                }
            }
        },
        {
            "type": "Microsoft.Logic/workflows",
            "apiVersion": "2017-07-01",
            "name": "[parameters('workflows_wwwdev2_extranetusermanager_com_sign_in_name')]",
            "location": "[resourceGroup().location]",
            "dependsOn": [
                "[resourceId('Microsoft.Web/connections', parameters('connections_office365_name'))]"
            ],
            "properties": {
                "state": "Enabled",
                "definition": {
                    "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
                    "contentVersion": "1.0.0.0",
                    "parameters": {
                        "$connections": {
                            "defaultValue": {
                                
                            },
                            "type": "Object"
                        }
                    },
                    "triggers": {
                        "manual": {
                            "type": "Request",
                            "kind": "Http",
                            "inputs": {
                                "schema": {
                                    "properties": {
                                        "CRMID": {
                                            "type": "string"
                                        },
                                        "Country": {
                                            "type": "string"
                                        },
                                        "Email": {
                                            "type": "string"
                                        },
                                        "FirstName": {
                                            "type": "string"
                                        },
                                        "LastName": {
                                            "type": "string"
                                        },
                                        "Organization": {
                                            "type": "string"
                                        }
                                    },
                                    "required": [
                                        "FirstName",
                                        "LastName",
                                        "Country",
                                        "Organization",
                                        "Email"
                                    ],
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "actions": {
                        "Send_an_email_(V2)": {
                            "runAfter": {
                                
                            },
                            "type": "ApiConnection",
                            "inputs": {
                                "body": {
                                    "Body": "<p>@{triggerBody()['FirstName']}<br>\n@{triggerBody()['LastName']}<br>\n@{triggerBody()['Country']}<br>\n@{triggerBody()['Organization']}<br>\n@{triggerBody()['Email']}<br>\n@{triggerBody()['CRMID']}<br>\n</p>",
                                    "Subject": "Test Sign In",
                                    "To": "wwwdev2@eum.co"
                                },
                                "host": {
                                    "connection": {
                                        "name": "@parameters('$connections')['office365']['connectionId']"
                                    }
                                },
                                "method": "post",
                                "path": "/v2/Mail"
                            }
                        }
                    },
                    "outputs": {
                        
                    }
                },
                "parameters": {
                    "$connections": {
                        "value": {
                            "office365": {
                                "connectionId": "[resourceId('Microsoft.Web/connections', parameters('connections_office365_name'))]",
                                "connectionName": "office365",
                                "id": "[concat('/subscriptions/', subscription().subscriptionId, '/providers/Microsoft.Web/locations/', resourceGroup().location, '/managedApis/office365')]"
                            }
                        }
                    }
                }
            }
        },
        {
            "type": "Microsoft.Logic/workflows",
            "apiVersion": "2017-07-01",
            "name": "[parameters('workflows_wwwdev_cms_extranetusermanager_com_publish_name')]",
            "location": "[resourceGroup().location]",
            "dependsOn": [
                "[resourceId('Microsoft.Web/connections', parameters('connections_sharepointonline_name'))]"
            ],
            "properties": {
                "state": "Enabled",
                "definition": {
                    "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
                    "contentVersion": "1.0.0.0",
                    "parameters": {
                        "$connections": {
                            "defaultValue": {
                                
                            },
                            "type": "Object"
                        }
                    },
                    "triggers": {
                        "manual": {
                            "type": "Request",
                            "kind": "Http",
                            "inputs": {
                                "schema": {
                                    "properties": {
                                        "pageId": {
                                            "type": "string"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "actions": {
                        "Set_content_approval_status": {
                            "runAfter": {
                                
                            },
                            "type": "ApiConnection",
                            "inputs": {
                                "host": {
                                    "connection": {
                                        "name": "@parameters('$connections')['sharepointonline']['connectionId']"
                                    }
                                },
                                "method": "post",
                                "path": "/datasets/@{encodeURIComponent(encodeURIComponent('https://envisionitdev.sharepoint.com/sites/wwwcmsdevextranetusermanagercom'))}/tables/@{encodeURIComponent(encodeURIComponent('19eac636-4a69-4e27-9726-26dd064b04fa'))}/items/@{encodeURIComponent(encodeURIComponent(triggerBody()?['pageId']))}/setapprovalstatus",
                                "queries": {
                                    "approvalAction": "Approve",
                                    "comments": "",
                                    "entityTag": ""
                                }
                            }
                        }
                    },
                    "outputs": {
                        
                    }
                },
                "parameters": {
                    "$connections": {
                        "value": {
                            "sharepointonline": {
                                "connectionId": "[resourceId('Microsoft.Web/connections', parameters('connections_sharepointonline_name'))]",
                                "connectionName": "sharepointonline",
                                "id": "[concat('/subscriptions/', subscription().subscriptionId, '/providers/Microsoft.Web/locations/', resourceGroup().location, '/managedApis/sharepointonline')]"
                            }
                        }
                    }
                }
            }
        },
        {
            "type": "Microsoft.Logic/workflows",
            "apiVersion": "2017-07-01",
            "name": "[parameters('workflows_wwwdev2_extranetusermanager_com_event_registration_name')]",
            "location": "[resourceGroup().location]",
            "dependsOn": [
                "[resourceId('Microsoft.Web/connections', parameters('connections_commondataservice_name'))]",
                "[resourceId('Microsoft.Web/connections', parameters('connections_office365_name'))]",
                "[resourceId('Microsoft.Web/connections', parameters('connections_sharepointonline_name'))]"
            ],
            "properties": {
                "state": "Enabled",
                "definition": {
                    "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
                    "contentVersion": "1.0.0.0",
                    "parameters": {
                        "$connections": {
                            "defaultValue": {
                                
                            },
                            "type": "Object"
                        }
                    },
                    "triggers": {
                        "manual": {
                            "type": "Request",
                            "kind": "Http",
                            "inputs": {
                                "schema": {
                                    "properties": {
                                        "Country": {
                                            "type": "string"
                                        },
                                        "Email": {
                                            "type": "string"
                                        },
                                        "EventCRMID": {
                                            "type": "string"
                                        },
                                        "FirstName": {
                                            "type": "string"
                                        },
                                        "LastName": {
                                            "type": "string"
                                        },
                                        "LeadOrContactCRMID": {
                                            "type": "string"
                                        },
                                        "Organization": {
                                            "type": "string"
                                        }
                                    },
                                    "required": [
                                        "FirstName",
                                        "LastName",
                                        "Country",
                                        "Organization",
                                        "Email"
                                    ],
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "actions": {
                        "Compose_Invitation_Body": {
                            "runAfter": {
                                "Set_Invitation_Body": [
                                    "Succeeded"
                                ]
                            },
                            "type": "Compose",
                            "inputs": "@replace(replace(replace(replace(replace(replace(variables('Invitation Body'),'~fname~',variables('First Name')),'~lname~',variables('Last Name')),'~email~',variables('Email')),'~personid~',variables('Person ID')),'~country~',variables('Country')),'~organization~',variables('Organization'))"
                        },
                        "Condition": {
                            "actions": {
                                "Create_a_new_Event_Registration_for_Contact": {
                                    "runAfter": {
                                        
                                    },
                                    "type": "ApiConnection",
                                    "inputs": {
                                        "body": {
                                            "_eit_contact_value": "@variables('Contact ID')",
                                            "_eit_event_value": "@triggerBody()?['EventCRMID']",
                                            "eit_name": " @{variables('Full Name')}",
                                            "eit_organization": "@variables('Organization')",
                                            "eit_registrationdate": "@{utcNow()}"
                                        },
                                        "host": {
                                            "connection": {
                                                "name": "@parameters('$connections')['commondataservice']['connectionId']"
                                            }
                                        },
                                        "method": "post",
                                        "path": "/v2/datasets/@{encodeURIComponent(encodeURIComponent('envisionit0.crm'))}/tables/@{encodeURIComponent(encodeURIComponent('eit_eventregistrations'))}/items"
                                    }
                                },
                                "Set_Person_ID_to_Contact_ID": {
                                    "runAfter": {
                                        "Create_a_new_Event_Registration_for_Contact": [
                                            "Succeeded"
                                        ]
                                    },
                                    "type": "SetVariable",
                                    "inputs": {
                                        "name": "Person ID",
                                        "value": "@variables('Contact ID')"
                                    }
                                }
                            },
                            "runAfter": {
                                "For_each_Contact": [
                                    "Succeeded"
                                ]
                            },
                            "else": {
                                "actions": {
                                    "Condition_2": {
                                        "actions": {
                                            "Create_a_new_Event_Registration_for_existing_Lead": {
                                                "runAfter": {
                                                    
                                                },
                                                "type": "ApiConnection",
                                                "inputs": {
                                                    "body": {
                                                        "_eit_event_value": "@triggerBody()?['EventCRMID']",
                                                        "_eit_lead_value": "@variables('Lead ID')",
                                                        "_ownerid_type": "",
                                                        "eit_name": "@variables('Full Name')",
                                                        "eit_organization": "@variables('Organization')",
                                                        "eit_registrationdate": "@{utcNow()}"
                                                    },
                                                    "host": {
                                                        "connection": {
                                                            "name": "@parameters('$connections')['commondataservice']['connectionId']"
                                                        }
                                                    },
                                                    "method": "post",
                                                    "path": "/v2/datasets/@{encodeURIComponent(encodeURIComponent('envisionit0.crm'))}/tables/@{encodeURIComponent(encodeURIComponent('eit_eventregistrations'))}/items"
                                                }
                                            },
                                            "Set_Person_ID_to_Lead_ID": {
                                                "runAfter": {
                                                    "Create_a_new_Event_Registration_for_existing_Lead": [
                                                        "Succeeded"
                                                    ]
                                                },
                                                "type": "SetVariable",
                                                "inputs": {
                                                    "name": "Person ID",
                                                    "value": "@variables('Lead ID')"
                                                }
                                            }
                                        },
                                        "runAfter": {
                                            "For_each_Lead": [
                                                "Succeeded"
                                            ]
                                        },
                                        "else": {
                                            "actions": {
                                                "Create_a_new_Event_Registration_for_new_Lead": {
                                                    "runAfter": {
                                                        "Set_Person_ID_to_new_Lead_ID": [
                                                            "Succeeded"
                                                        ]
                                                    },
                                                    "type": "ApiConnection",
                                                    "inputs": {
                                                        "body": {
                                                            "_eit_event_value": "@triggerBody()?['EventCRMID']",
                                                            "_eit_lead_value": "@variables('Lead ID')",
                                                            "_ownerid_type": "",
                                                            "eit_name": "@variables('Full Name')",
                                                            "eit_organization": "@variables('Organization')",
                                                            "eit_registrationdate": "@{utcNow()}"
                                                        },
                                                        "host": {
                                                            "connection": {
                                                                "name": "@parameters('$connections')['commondataservice']['connectionId']"
                                                            }
                                                        },
                                                        "method": "post",
                                                        "path": "/v2/datasets/@{encodeURIComponent(encodeURIComponent('envisionit0.crm'))}/tables/@{encodeURIComponent(encodeURIComponent('eit_eventregistrations'))}/items"
                                                    }
                                                },
                                                "Create_a_new_Lead": {
                                                    "runAfter": {
                                                        
                                                    },
                                                    "type": "ApiConnection",
                                                    "inputs": {
                                                        "body": {
                                                            "_customerid_type": "",
                                                            "_ownerid_type": "",
                                                            "cdi_allowtextmessages": true,
                                                            "companyname": "@variables('Organization')",
                                                            "confirminterest": false,
                                                            "decisionmaker": false,
                                                            "donotbulkemail": false,
                                                            "donotemail": false,
                                                            "donotfax": false,
                                                            "donotphone": false,
                                                            "donotpostalmail": false,
                                                            "donotsendmm": false,
                                                            "eit_test": false,
                                                            "emailaddress1": "@triggerBody()['Email']",
                                                            "evaluatefit": false,
                                                            "firstname": "@triggerBody()['FirstName']",
                                                            "followemail": true,
                                                            "lastname": "@triggerBody()['LastName']",
                                                            "merged": false,
                                                            "msdyn_gdproptout": false,
                                                            "participatesinworkflow": false,
                                                            "subject": "Webinar: How to utilize SharePoint Online as a Headless CMS"
                                                        },
                                                        "host": {
                                                            "connection": {
                                                                "name": "@parameters('$connections')['commondataservice']['connectionId']"
                                                            }
                                                        },
                                                        "method": "post",
                                                        "path": "/v2/datasets/@{encodeURIComponent(encodeURIComponent('envisionit0.crm'))}/tables/@{encodeURIComponent(encodeURIComponent('leads'))}/items"
                                                    }
                                                },
                                                "Set_Person_ID_to_new_Lead_ID": {
                                                    "runAfter": {
                                                        "Set_new_Lead_ID": [
                                                            "Succeeded"
                                                        ]
                                                    },
                                                    "type": "SetVariable",
                                                    "inputs": {
                                                        "name": "Person ID",
                                                        "value": "@variables('Lead ID')"
                                                    }
                                                },
                                                "Set_new_Lead_ID": {
                                                    "runAfter": {
                                                        "Create_a_new_Lead": [
                                                            "Succeeded"
                                                        ]
                                                    },
                                                    "type": "SetVariable",
                                                    "inputs": {
                                                        "name": "Lead ID",
                                                        "value": "@body('Create_a_new_Lead')?['leadid']"
                                                    }
                                                }
                                            }
                                        },
                                        "expression": {
                                            "and": [
                                                {
                                                    "not": {
                                                        "equals": [
                                                            "@variables('Lead ID')",
                                                            ""
                                                        ]
                                                    }
                                                }
                                            ]
                                        },
                                        "type": "If"
                                    },
                                    "For_each_Lead": {
                                        "foreach": "@body('List_Leads')?['value']",
                                        "actions": {
                                            "Set_Lead_ID": {
                                                "runAfter": {
                                                    
                                                },
                                                "type": "SetVariable",
                                                "inputs": {
                                                    "name": "Lead ID",
                                                    "value": "@items('For_each_Lead')?['leadid']"
                                                }
                                            }
                                        },
                                        "runAfter": {
                                            "List_Leads": [
                                                "Succeeded"
                                            ]
                                        },
                                        "type": "Foreach"
                                    },
                                    "List_Leads": {
                                        "runAfter": {
                                            
                                        },
                                        "type": "ApiConnection",
                                        "inputs": {
                                            "host": {
                                                "connection": {
                                                    "name": "@parameters('$connections')['commondataservice']['connectionId']"
                                                }
                                            },
                                            "method": "get",
                                            "path": "/v2/datasets/@{encodeURIComponent(encodeURIComponent('envisionit0.crm'))}/tables/@{encodeURIComponent(encodeURIComponent('leads'))}/items",
                                            "queries": {
                                                "$filter": "emailaddress1 eq '@{triggerBody()['Email']}'",
                                                "$top": 1
                                            }
                                        }
                                    }
                                }
                            },
                            "expression": {
                                "and": [
                                    {
                                        "not": {
                                            "equals": [
                                                "@variables('Contact ID')",
                                                ""
                                            ]
                                        }
                                    }
                                ]
                            },
                            "type": "If"
                        },
                        "Create_event_(V4)": {
                            "runAfter": {
                                "Update_Invitation_Body": [
                                    "Succeeded"
                                ]
                            },
                            "type": "ApiConnection",
                            "inputs": {
                                "body": {
                                    "body": "<p>@{variables('Invitation Body')}</p>",
                                    "end": "@variables('Invitation End Time')",
                                    "importance": "normal",
                                    "location": "[resourceGroup().location]",
                                    "reminderMinutesBeforeStart": 15,
                                    "requiredAttendees": "@variables('Email')",
                                    "responseRequested": true,
                                    "showAs": "busy",
                                    "start": "@variables('Invitation Start Time')",
                                    "subject": "@variables('Invitation Subject')",
                                    "timeZone": "(UTC-05:00) Eastern Time (US & Canada)"
                                },
                                "host": {
                                    "connection": {
                                        "name": "@parameters('$connections')['office365']['connectionId']"
                                    }
                                },
                                "method": "post",
                                "path": "/datasets/calendars/v4/tables/@{encodeURIComponent(encodeURIComponent('AQMkADNmZDBhMjE0LTA4NGMtNDUzNy04MjIAZS0wYmZhNzAyNGU2MjgARgAAAxp6rHjmdrhGpCnJVJyYemAHABH50IfMNXdMh2JPAgeWHgAAAwEGAAAAEfnQh8w1d0yHYk8CB5YeAAABAijxcwAAAA=='))}/items"
                            }
                        },
                        "For_each_Contact": {
                            "foreach": "@body('List_Contacts')?['value']",
                            "actions": {
                                "Set_Contact_ID": {
                                    "runAfter": {
                                        
                                    },
                                    "type": "SetVariable",
                                    "inputs": {
                                        "name": "Contact ID",
                                        "value": "@items('For_each_Contact')?['contactid']"
                                    }
                                }
                            },
                            "runAfter": {
                                "List_Contacts": [
                                    "Succeeded"
                                ]
                            },
                            "type": "Foreach"
                        },
                        "Get_Email": {
                            "runAfter": {
                                "Set_Email_ID": [
                                    "Succeeded"
                                ]
                            },
                            "type": "ApiConnection",
                            "inputs": {
                                "host": {
                                    "connection": {
                                        "name": "@parameters('$connections')['sharepointonline']['connectionId']"
                                    }
                                },
                                "method": "get",
                                "path": "/datasets/@{encodeURIComponent(encodeURIComponent('https://envisionitdev.sharepoint.com/sites/wwwcmsdevextranetusermanagercom'))}/tables/@{encodeURIComponent(encodeURIComponent('Pages'))}/items/@{encodeURIComponent(variables('Email ID'))}"
                            }
                        },
                        "Get_Event_record": {
                            "runAfter": {
                                "Condition": [
                                    "Succeeded"
                                ]
                            },
                            "type": "ApiConnection",
                            "inputs": {
                                "host": {
                                    "connection": {
                                        "name": "@parameters('$connections')['commondataservice']['connectionId']"
                                    }
                                },
                                "method": "get",
                                "path": "/v2/datasets/@{encodeURIComponent(encodeURIComponent('envisionit0.crm'))}/tables/@{encodeURIComponent(encodeURIComponent('eit_events'))}/items/@{encodeURIComponent(encodeURIComponent(triggerBody()?['EventCRMID']))}"
                            }
                        },
                        "Initialize_Contact_ID": {
                            "runAfter": {
                                "Initialize_variable": [
                                    "Succeeded"
                                ]
                            },
                            "type": "InitializeVariable",
                            "inputs": {
                                "variables": [
                                    {
                                        "name": "Contact ID",
                                        "type": "string"
                                    }
                                ]
                            }
                        },
                        "Initialize_Country": {
                            "runAfter": {
                                "Initialize_Organization": [
                                    "Succeeded"
                                ]
                            },
                            "type": "InitializeVariable",
                            "inputs": {
                                "variables": [
                                    {
                                        "name": "Country",
                                        "type": "string",
                                        "value": "@triggerBody()['Country']"
                                    }
                                ]
                            }
                        },
                        "Initialize_Email_ID": {
                            "runAfter": {
                                "Initialize_Event_Name": [
                                    "Succeeded"
                                ]
                            },
                            "type": "InitializeVariable",
                            "inputs": {
                                "variables": [
                                    {
                                        "name": "Email ID",
                                        "type": "string"
                                    }
                                ]
                            }
                        },
                        "Initialize_Event_Name": {
                            "runAfter": {
                                "Initialize_Country": [
                                    "Succeeded"
                                ]
                            },
                            "type": "InitializeVariable",
                            "inputs": {
                                "variables": [
                                    {
                                        "name": "Event Name",
                                        "type": "string"
                                    }
                                ]
                            }
                        },
                        "Initialize_First_Name": {
                            "runAfter": {
                                "Initialize_Person_ID": [
                                    "Succeeded"
                                ]
                            },
                            "type": "InitializeVariable",
                            "inputs": {
                                "variables": [
                                    {
                                        "name": "First Name",
                                        "type": "string",
                                        "value": "@triggerBody()['FirstName']"
                                    }
                                ]
                            }
                        },
                        "Initialize_Full_Name": {
                            "runAfter": {
                                "Initialize_Last_Name": [
                                    "Succeeded"
                                ]
                            },
                            "type": "InitializeVariable",
                            "inputs": {
                                "variables": [
                                    {
                                        "name": "Full Name",
                                        "type": "string",
                                        "value": "@{variables('First Name')} @{variables('First Name')}"
                                    }
                                ]
                            }
                        },
                        "Initialize_Invitation_Body": {
                            "runAfter": {
                                "Initialize_Email_ID": [
                                    "Succeeded"
                                ]
                            },
                            "type": "InitializeVariable",
                            "inputs": {
                                "variables": [
                                    {
                                        "name": "Invitation Body",
                                        "type": "string"
                                    }
                                ]
                            }
                        },
                        "Initialize_Invitation_End_Time": {
                            "runAfter": {
                                "Initialize_Invitation_Start_Time": [
                                    "Succeeded"
                                ]
                            },
                            "type": "InitializeVariable",
                            "inputs": {
                                "variables": [
                                    {
                                        "name": "Invitation End Time",
                                        "type": "string"
                                    }
                                ]
                            }
                        },
                        "Initialize_Invitation_Start_Time": {
                            "runAfter": {
                                "Initialize_Invitation_Subject": [
                                    "Succeeded"
                                ]
                            },
                            "type": "InitializeVariable",
                            "inputs": {
                                "variables": [
                                    {
                                        "name": "Invitation Start Time",
                                        "type": "string"
                                    }
                                ]
                            }
                        },
                        "Initialize_Invitation_Subject": {
                            "runAfter": {
                                "Initialize_Invitation_Body": [
                                    "Succeeded"
                                ]
                            },
                            "type": "InitializeVariable",
                            "inputs": {
                                "variables": [
                                    {
                                        "name": "Invitation Subject",
                                        "type": "string"
                                    }
                                ]
                            }
                        },
                        "Initialize_Last_Name": {
                            "runAfter": {
                                "Initialize_First_Name": [
                                    "Succeeded"
                                ]
                            },
                            "type": "InitializeVariable",
                            "inputs": {
                                "variables": [
                                    {
                                        "name": "Last Name",
                                        "type": "string",
                                        "value": "@triggerBody()['LastName']"
                                    }
                                ]
                            }
                        },
                        "Initialize_Lead_ID": {
                            "runAfter": {
                                "Initialize_Contact_ID": [
                                    "Succeeded"
                                ]
                            },
                            "type": "InitializeVariable",
                            "inputs": {
                                "variables": [
                                    {
                                        "name": "Lead ID",
                                        "type": "string"
                                    }
                                ]
                            }
                        },
                        "Initialize_Organization": {
                            "runAfter": {
                                "Initialize_Full_Name": [
                                    "Succeeded"
                                ]
                            },
                            "type": "InitializeVariable",
                            "inputs": {
                                "variables": [
                                    {
                                        "name": "Organization",
                                        "type": "string",
                                        "value": "@triggerBody()['Organization']"
                                    }
                                ]
                            }
                        },
                        "Initialize_Person_ID": {
                            "runAfter": {
                                "Initialize_Lead_ID": [
                                    "Succeeded"
                                ]
                            },
                            "type": "InitializeVariable",
                            "inputs": {
                                "variables": [
                                    {
                                        "name": "Person ID",
                                        "type": "string"
                                    }
                                ]
                            }
                        },
                        "Initialize_variable": {
                            "runAfter": {
                                
                            },
                            "type": "InitializeVariable",
                            "inputs": {
                                "variables": [
                                    {
                                        "name": "Email",
                                        "type": "string",
                                        "value": "@triggerBody()['Email']"
                                    }
                                ]
                            }
                        },
                        "List_Contacts": {
                            "runAfter": {
                                "Initialize_Invitation_End_Time": [
                                    "Succeeded"
                                ]
                            },
                            "type": "ApiConnection",
                            "inputs": {
                                "host": {
                                    "connection": {
                                        "name": "@parameters('$connections')['commondataservice']['connectionId']"
                                    }
                                },
                                "method": "get",
                                "path": "/v2/datasets/@{encodeURIComponent(encodeURIComponent('envisionit0.crm'))}/tables/@{encodeURIComponent(encodeURIComponent('contacts'))}/items",
                                "queries": {
                                    "$filter": "emailaddress1 eq '@{triggerBody()['Email']}'",
                                    "$top": 1
                                }
                            }
                        },
                        "Set_Email_ID": {
                            "runAfter": {
                                "Set_Invitation_End_Time": [
                                    "Succeeded"
                                ]
                            },
                            "type": "SetVariable",
                            "inputs": {
                                "name": "Email ID",
                                "value": "@{body('Get_Event_record')?['eit_invitationemailid']}"
                            }
                        },
                        "Set_Invitation_Body": {
                            "runAfter": {
                                "Set_Invitation_Subject": [
                                    "Succeeded"
                                ]
                            },
                            "type": "SetVariable",
                            "inputs": {
                                "name": "Invitation Body",
                                "value": "@body('Get_Email')?['PageContent']"
                            }
                        },
                        "Set_Invitation_End_Time": {
                            "runAfter": {
                                "Set_Invitation_Start_Time": [
                                    "Succeeded"
                                ]
                            },
                            "type": "SetVariable",
                            "inputs": {
                                "name": "Invitation End Time",
                                "value": "@body('Get_Event_record')?['eit_enddate']"
                            }
                        },
                        "Set_Invitation_Start_Time": {
                            "runAfter": {
                                "Get_Event_record": [
                                    "Succeeded"
                                ]
                            },
                            "type": "SetVariable",
                            "inputs": {
                                "name": "Invitation Start Time",
                                "value": "@body('Get_Event_record')?['eit_startdate']"
                            }
                        },
                        "Set_Invitation_Subject": {
                            "runAfter": {
                                "Get_Email": [
                                    "Succeeded"
                                ]
                            },
                            "type": "SetVariable",
                            "inputs": {
                                "name": "Invitation Subject",
                                "value": "@body('Get_Email')?['Subject']"
                            }
                        },
                        "Update_Invitation_Body": {
                            "runAfter": {
                                "Compose_Invitation_Body": [
                                    "Succeeded"
                                ]
                            },
                            "type": "SetVariable",
                            "inputs": {
                                "name": "Invitation Body",
                                "value": "@{outputs('Compose_Invitation_Body')}"
                            }
                        }
                    },
                    "outputs": {
                        
                    }
                },
                "parameters": {
                    "$connections": {
                        "value": {
                            "commondataservice": {
                                "connectionId": "[resourceId('Microsoft.Web/connections', parameters('connections_commondataservice_name'))]",
                                "connectionName": "commondataservice",
                                "id": "[concat('/subscriptions/', subscription().subscriptionId, '/providers/Microsoft.Web/locations/', resourceGroup().location, '/managedApis/commondataservice')]"
                            },
                            "office365": {
                                "connectionId": "[resourceId('Microsoft.Web/connections', parameters('connections_office365_name'))]",
                                "connectionName": "office365",
                                "id": "[concat('/subscriptions/', subscription().subscriptionId, '/providers/Microsoft.Web/locations/', resourceGroup().location, '/managedApis/office365')]"
                            },
                            "sharepointonline": {
                                "connectionId": "[resourceId('Microsoft.Web/connections', parameters('connections_sharepointonline_name'))]",
                                "connectionName": "sharepointonline",
                                "id": "[concat('/subscriptions/', subscription().subscriptionId, '/providers/Microsoft.Web/locations/', resourceGroup().location, '/managedApis/sharepointonline')]"
                            }
                        }
                    }
                }
            }
        },
        {
            "type": "Microsoft.Logic/workflows",
            "apiVersion": "2017-07-01",
            "name": "[parameters('workflows_wwwdev2_extranetusermanager_com_gated_content2_name')]",
            "location": "[resourceGroup().location]",
            "dependsOn": [
                "[resourceId('Microsoft.Web/connections', parameters('connections_commondataservice_name'))]",
                "[resourceId('Microsoft.Web/connections', parameters('connections_office365_name'))]",
                "[resourceId('Microsoft.Web/connections', parameters('connections_sharepointonline_name'))]"
            ],
            "properties": {
                "state": "Enabled",
                "definition": {
                    "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
                    "contentVersion": "1.0.0.0",
                    "parameters": {
                        "$connections": {
                            "defaultValue": {
                                
                            },
                            "type": "Object"
                        }
                    },
                    "triggers": {
                        "manual": {
                            "type": "Request",
                            "kind": "Http",
                            "inputs": {
                                "schema": {
                                    "properties": {
                                        "Country": {
                                            "type": "string"
                                        },
                                        "Email": {
                                            "type": "string"
                                        },
                                        "FirstName": {
                                            "type": "string"
                                        },
                                        "GatedContentCRMID": {
                                            "type": "string"
                                        },
                                        "LastName": {
                                            "type": "string"
                                        },
                                        "LeadOrContactCRMID": {
                                            "type": "string"
                                        },
                                        "Organization": {
                                            "type": "string"
                                        }
                                    },
                                    "required": [
                                        "FirstName",
                                        "LastName",
                                        "Country",
                                        "Organization",
                                        "Email"
                                    ],
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "actions": {
                        "Condition": {
                            "actions": {
                                "Create_a_new_Gated_Content_Download_for_Contact": {
                                    "runAfter": {
                                        
                                    },
                                    "type": "ApiConnection",
                                    "inputs": {
                                        "body": {
                                            "_eit_contact_value": "@variables('Contact ID')",
                                            "_eit_gatedcontent_value": "@triggerBody()?['GatedContentCRMID']",
                                            "eit_downloaddate": "@{utcNow()}",
                                            "eit_name": " @{variables('Full Name')}",
                                            "eit_organization": "@variables('Organization')"
                                        },
                                        "host": {
                                            "connection": {
                                                "name": "@parameters('$connections')['commondataservice']['connectionId']"
                                            }
                                        },
                                        "method": "post",
                                        "path": "/v2/datasets/@{encodeURIComponent(encodeURIComponent('envisionit0.crm'))}/tables/@{encodeURIComponent(encodeURIComponent('eit_gatedcontentdownloads'))}/items"
                                    }
                                }
                            },
                            "runAfter": {
                                "For_each_Contact": [
                                    "Succeeded"
                                ]
                            },
                            "else": {
                                "actions": {
                                    "Condition_2": {
                                        "actions": {
                                            "Create_a_new_Gated_Content_Download_for_existing_Lead": {
                                                "runAfter": {
                                                    
                                                },
                                                "type": "ApiConnection",
                                                "inputs": {
                                                    "body": {
                                                        "_eit_gatedcontent_value": "@triggerBody()?['GatedContentCRMID']",
                                                        "_eit_lead_value": "@variables('Lead ID')",
                                                        "eit_downloaddate": "@{utcNow()}",
                                                        "eit_name": "@variables('Full Name')",
                                                        "eit_organization": "@variables('Organization')"
                                                    },
                                                    "host": {
                                                        "connection": {
                                                            "name": "@parameters('$connections')['commondataservice']['connectionId']"
                                                        }
                                                    },
                                                    "method": "post",
                                                    "path": "/v2/datasets/@{encodeURIComponent(encodeURIComponent('envisionit0.crm'))}/tables/@{encodeURIComponent(encodeURIComponent('eit_gatedcontentdownloads'))}/items"
                                                }
                                            }
                                        },
                                        "runAfter": {
                                            "For_each_Lead": [
                                                "Succeeded"
                                            ]
                                        },
                                        "else": {
                                            "actions": {
                                                "Create_a_new_Gated_Content_Download_for_new_Lead": {
                                                    "runAfter": {
                                                        "Set_new_Lead_ID": [
                                                            "Succeeded"
                                                        ]
                                                    },
                                                    "type": "ApiConnection",
                                                    "inputs": {
                                                        "body": {
                                                            "_eit_gatedcontent_value": "@triggerBody()?['GatedContentCRMID']",
                                                            "_eit_lead_value": "@variables('Lead ID')",
                                                            "eit_downloaddate": "@{utcNow()}",
                                                            "eit_name": "@variables('Full Name')",
                                                            "eit_organization": "@variables('Organization')"
                                                        },
                                                        "host": {
                                                            "connection": {
                                                                "name": "@parameters('$connections')['commondataservice']['connectionId']"
                                                            }
                                                        },
                                                        "method": "post",
                                                        "path": "/v2/datasets/@{encodeURIComponent(encodeURIComponent('envisionit0.crm'))}/tables/@{encodeURIComponent(encodeURIComponent('eit_gatedcontentdownloads'))}/items"
                                                    }
                                                },
                                                "Create_a_new_Lead": {
                                                    "runAfter": {
                                                        
                                                    },
                                                    "type": "ApiConnection",
                                                    "inputs": {
                                                        "body": {
                                                            "_customerid_type": "",
                                                            "cdi_allowtextmessages": true,
                                                            "companyname": "@variables('Organization')",
                                                            "confirminterest": false,
                                                            "decisionmaker": false,
                                                            "donotbulkemail": false,
                                                            "donotemail": false,
                                                            "donotfax": false,
                                                            "donotphone": false,
                                                            "donotpostalmail": false,
                                                            "donotsendmm": false,
                                                            "eit_test": false,
                                                            "emailaddress1": "@triggerBody()['Email']",
                                                            "evaluatefit": false,
                                                            "firstname": "@triggerBody()['FirstName']",
                                                            "followemail": true,
                                                            "lastname": "@triggerBody()['LastName']",
                                                            "merged": false,
                                                            "msdyn_gdproptout": false,
                                                            "participatesinworkflow": false,
                                                            "subject": "Webinar: How to utilize SharePoint Online as a Headless CMS"
                                                        },
                                                        "host": {
                                                            "connection": {
                                                                "name": "@parameters('$connections')['commondataservice']['connectionId']"
                                                            }
                                                        },
                                                        "method": "post",
                                                        "path": "/v2/datasets/@{encodeURIComponent(encodeURIComponent('envisionit0.crm'))}/tables/@{encodeURIComponent(encodeURIComponent('leads'))}/items"
                                                    }
                                                },
                                                "Set_new_Lead_ID": {
                                                    "runAfter": {
                                                        "Create_a_new_Lead": [
                                                            "Succeeded"
                                                        ]
                                                    },
                                                    "type": "SetVariable",
                                                    "inputs": {
                                                        "name": "Lead ID",
                                                        "value": "@body('Create_a_new_Lead')?['leadid']"
                                                    }
                                                }
                                            }
                                        },
                                        "expression": {
                                            "and": [
                                                {
                                                    "not": {
                                                        "equals": [
                                                            "@variables('Lead ID')",
                                                            ""
                                                        ]
                                                    }
                                                }
                                            ]
                                        },
                                        "type": "If"
                                    },
                                    "For_each_Lead": {
                                        "foreach": "@body('List_Leads')?['value']",
                                        "actions": {
                                            "Set_Lead_ID": {
                                                "runAfter": {
                                                    
                                                },
                                                "type": "SetVariable",
                                                "inputs": {
                                                    "name": "Lead ID",
                                                    "value": "@items('For_each_Lead')?['leadid']"
                                                }
                                            }
                                        },
                                        "runAfter": {
                                            "List_Leads": [
                                                "Succeeded"
                                            ]
                                        },
                                        "type": "Foreach"
                                    },
                                    "List_Leads": {
                                        "runAfter": {
                                            
                                        },
                                        "type": "ApiConnection",
                                        "inputs": {
                                            "host": {
                                                "connection": {
                                                    "name": "@parameters('$connections')['commondataservice']['connectionId']"
                                                }
                                            },
                                            "method": "get",
                                            "path": "/v2/datasets/@{encodeURIComponent(encodeURIComponent('envisionit0.crm'))}/tables/@{encodeURIComponent(encodeURIComponent('leads'))}/items",
                                            "queries": {
                                                "$filter": "emailaddress1 eq '@{triggerBody()['Email']}'",
                                                "$top": 1
                                            }
                                        }
                                    }
                                }
                            },
                            "expression": {
                                "and": [
                                    {
                                        "not": {
                                            "equals": [
                                                "@variables('Contact ID')",
                                                ""
                                            ]
                                        }
                                    }
                                ]
                            },
                            "type": "If"
                        },
                        "Condition_4": {
                            "actions": {
                                "Send_an_email_(V2)_2": {
                                    "runAfter": {
                                        
                                    },
                                    "type": "ApiConnection",
                                    "inputs": {
                                        "body": {
                                            "Attachments": [
                                                {
                                                    "ContentBytes": "@{base64(variables('Email Attachments Content 1'))}",
                                                    "Name": "@variables('Email Attachments Name 1')"
                                                }
                                            ],
                                            "Body": "<p>@{variables('Email Body')}</p>",
                                            "Subject": "@variables('Email Subject')",
                                            "To": "@triggerBody()['Email']"
                                        },
                                        "host": {
                                            "connection": {
                                                "name": "@parameters('$connections')['office365']['connectionId']"
                                            }
                                        },
                                        "method": "post",
                                        "path": "/v2/Mail"
                                    }
                                }
                            },
                            "runAfter": {
                                "For_each": [
                                    "Succeeded"
                                ]
                            },
                            "else": {
                                "actions": {
                                    "Send_an_email_(V2)": {
                                        "runAfter": {
                                            
                                        },
                                        "type": "ApiConnection",
                                        "inputs": {
                                            "body": {
                                                "Attachments": [
                                                    {
                                                        "ContentBytes": "@{base64(variables('Email Attachments Content 1'))}",
                                                        "Name": "@variables('Email Attachments Name 1')"
                                                    },
                                                    {
                                                        "ContentBytes": "@{base64(variables('Email Attachments Content 2'))}",
                                                        "Name": "@variables('Email Attachments Name 2')"
                                                    }
                                                ],
                                                "Body": "<p>@{variables('Email Body')}</p>",
                                                "Subject": "@variables('Email Subject')",
                                                "To": "@triggerBody()['Email']"
                                            },
                                            "host": {
                                                "connection": {
                                                    "name": "@parameters('$connections')['office365']['connectionId']"
                                                }
                                            },
                                            "method": "post",
                                            "path": "/v2/Mail"
                                        }
                                    }
                                }
                            },
                            "expression": {
                                "and": [
                                    {
                                        "equals": [
                                            "@variables('Email Attachments Name 2')",
                                            "EMPTY"
                                        ]
                                    }
                                ]
                            },
                            "type": "If"
                        },
                        "For_each": {
                            "foreach": "@body('Get_attachments')",
                            "actions": {
                                "Condition_3": {
                                    "actions": {
                                        "Set_Email_Attachments_Content_1": {
                                            "runAfter": {
                                                "Set_Email_Attachments_Name_1": [
                                                    "Succeeded"
                                                ]
                                            },
                                            "type": "SetVariable",
                                            "inputs": {
                                                "name": "Email Attachments Content 1",
                                                "value": "@body('Get_attachment_content')"
                                            }
                                        },
                                        "Set_Email_Attachments_Name_1": {
                                            "runAfter": {
                                                
                                            },
                                            "type": "SetVariable",
                                            "inputs": {
                                                "name": "Email Attachments Name 1",
                                                "value": "@items('For_each')?['DisplayName']"
                                            }
                                        }
                                    },
                                    "runAfter": {
                                        "Set_variable": [
                                            "Succeeded"
                                        ]
                                    },
                                    "else": {
                                        "actions": {
                                            "Set_Email_Attachments_Content_2": {
                                                "runAfter": {
                                                    "Set_Email_Attachments_Name_2": [
                                                        "Succeeded"
                                                    ]
                                                },
                                                "type": "SetVariable",
                                                "inputs": {
                                                    "name": "Email Attachments Content 2",
                                                    "value": "@body('Get_attachment_content')"
                                                }
                                            },
                                            "Set_Email_Attachments_Name_2": {
                                                "runAfter": {
                                                    
                                                },
                                                "type": "SetVariable",
                                                "inputs": {
                                                    "name": "Email Attachments Name 2",
                                                    "value": "@items('For_each')?['DisplayName']"
                                                }
                                            }
                                        }
                                    },
                                    "expression": {
                                        "and": [
                                            {
                                                "equals": [
                                                    "@variables('Email Attachments Name 1')",
                                                    "EMPTY"
                                                ]
                                            }
                                        ]
                                    },
                                    "type": "If"
                                },
                                "Get_attachment_content": {
                                    "runAfter": {
                                        
                                    },
                                    "type": "ApiConnection",
                                    "inputs": {
                                        "host": {
                                            "connection": {
                                                "name": "@parameters('$connections')['sharepointonline']['connectionId']"
                                            }
                                        },
                                        "method": "get",
                                        "path": "/datasets/@{encodeURIComponent(encodeURIComponent('https://envisionitdev.sharepoint.com/sites/wwwdev2extranetusermanagercom'))}/tables/@{encodeURIComponent(encodeURIComponent('eb896c18-9eb2-40e6-9811-39a0d70d0e32'))}/items/@{encodeURIComponent(encodeURIComponent(variables('Email ID')))}/attachments/@{encodeURIComponent(items('For_each')?['Id'])}/$value"
                                    }
                                },
                                "Set_variable": {
                                    "runAfter": {
                                        "Get_attachment_content": [
                                            "Succeeded"
                                        ]
                                    },
                                    "type": "SetVariable",
                                    "inputs": {
                                        "name": "Debug",
                                        "value": "@variables('Email Attachments Name 1')"
                                    }
                                }
                            },
                            "runAfter": {
                                "Get_attachments": [
                                    "Succeeded"
                                ]
                            },
                            "type": "Foreach",
                            "runtimeConfiguration": {
                                "concurrency": {
                                    "repetitions": 1
                                }
                            }
                        },
                        "For_each_Contact": {
                            "foreach": "@body('List_Contacts')?['value']",
                            "actions": {
                                "Set_Contact_ID": {
                                    "runAfter": {
                                        
                                    },
                                    "type": "SetVariable",
                                    "inputs": {
                                        "name": "Contact ID",
                                        "value": "@items('For_each_Contact')?['contactid']"
                                    }
                                }
                            },
                            "runAfter": {
                                "List_Contacts": [
                                    "Succeeded"
                                ]
                            },
                            "type": "Foreach"
                        },
                        "Get_Email": {
                            "runAfter": {
                                "Set_Email_ID": [
                                    "Succeeded"
                                ]
                            },
                            "type": "ApiConnection",
                            "inputs": {
                                "host": {
                                    "connection": {
                                        "name": "@parameters('$connections')['sharepointonline']['connectionId']"
                                    }
                                },
                                "method": "get",
                                "path": "/datasets/@{encodeURIComponent(encodeURIComponent('https://envisionitdev.sharepoint.com/sites/wwwdev2extranetusermanagercom'))}/tables/@{encodeURIComponent(encodeURIComponent('eb896c18-9eb2-40e6-9811-39a0d70d0e32'))}/items/@{encodeURIComponent(variables('Email ID'))}"
                            }
                        },
                        "Get_Gated_Content_record": {
                            "runAfter": {
                                "Condition": [
                                    "Succeeded"
                                ]
                            },
                            "type": "ApiConnection",
                            "inputs": {
                                "host": {
                                    "connection": {
                                        "name": "@parameters('$connections')['commondataservice']['connectionId']"
                                    }
                                },
                                "method": "get",
                                "path": "/v2/datasets/@{encodeURIComponent(encodeURIComponent('envisionit0.crm'))}/tables/@{encodeURIComponent(encodeURIComponent('eit_gatedcontents'))}/items/@{encodeURIComponent(encodeURIComponent(triggerBody()?['GatedContentCRMID']))}"
                            }
                        },
                        "Get_attachments": {
                            "runAfter": {
                                "Set_Email_Body": [
                                    "Succeeded"
                                ]
                            },
                            "type": "ApiConnection",
                            "inputs": {
                                "host": {
                                    "connection": {
                                        "name": "@parameters('$connections')['sharepointonline']['connectionId']"
                                    }
                                },
                                "method": "get",
                                "path": "/datasets/@{encodeURIComponent(encodeURIComponent('https://envisionitdev.sharepoint.com/sites/wwwdev2extranetusermanagercom'))}/tables/@{encodeURIComponent(encodeURIComponent('eb896c18-9eb2-40e6-9811-39a0d70d0e32'))}/items/@{encodeURIComponent(encodeURIComponent(variables('Email ID')))}/attachments"
                            }
                        },
                        "Initialize_Contact_ID": {
                            "runAfter": {
                                "Initialize_Debug": [
                                    "Succeeded"
                                ]
                            },
                            "type": "InitializeVariable",
                            "inputs": {
                                "variables": [
                                    {
                                        "name": "Contact ID",
                                        "type": "string"
                                    }
                                ]
                            }
                        },
                        "Initialize_Debug": {
                            "runAfter": {
                                
                            },
                            "type": "InitializeVariable",
                            "inputs": {
                                "variables": [
                                    {
                                        "name": "Debug",
                                        "type": "string"
                                    }
                                ]
                            }
                        },
                        "Initialize_Email_Attachments_Content_1": {
                            "runAfter": {
                                "Initialize_Email_Attachments_Name_1": [
                                    "Succeeded"
                                ]
                            },
                            "type": "InitializeVariable",
                            "inputs": {
                                "variables": [
                                    {
                                        "name": "Email Attachments Content 1",
                                        "type": "object"
                                    }
                                ]
                            }
                        },
                        "Initialize_Email_Attachments_Content_2": {
                            "runAfter": {
                                "Initialize_Email_Attachments_Name_2": [
                                    "Succeeded"
                                ]
                            },
                            "type": "InitializeVariable",
                            "inputs": {
                                "variables": [
                                    {
                                        "name": "Email Attachments Content 2",
                                        "type": "object"
                                    }
                                ]
                            }
                        },
                        "Initialize_Email_Attachments_Name_1": {
                            "runAfter": {
                                "Initialize_Email_Subject": [
                                    "Succeeded"
                                ]
                            },
                            "type": "InitializeVariable",
                            "inputs": {
                                "variables": [
                                    {
                                        "name": "Email Attachments Name 1",
                                        "type": "string",
                                        "value": "EMPTY"
                                    }
                                ]
                            }
                        },
                        "Initialize_Email_Attachments_Name_2": {
                            "runAfter": {
                                "Initialize_Email_Attachments_Content_1": [
                                    "Succeeded"
                                ]
                            },
                            "type": "InitializeVariable",
                            "inputs": {
                                "variables": [
                                    {
                                        "name": "Email Attachments Name 2",
                                        "type": "string",
                                        "value": "EMPTY"
                                    }
                                ]
                            }
                        },
                        "Initialize_Email_Body": {
                            "runAfter": {
                                "Initialize_Email_ID": [
                                    "Succeeded"
                                ]
                            },
                            "type": "InitializeVariable",
                            "inputs": {
                                "variables": [
                                    {
                                        "name": "Email Body",
                                        "type": "string"
                                    }
                                ]
                            }
                        },
                        "Initialize_Email_ID": {
                            "runAfter": {
                                "Initialize_Event_Name": [
                                    "Succeeded"
                                ]
                            },
                            "type": "InitializeVariable",
                            "inputs": {
                                "variables": [
                                    {
                                        "name": "Email ID",
                                        "type": "string"
                                    }
                                ]
                            }
                        },
                        "Initialize_Email_Subject": {
                            "runAfter": {
                                "Initialize_Email_Body": [
                                    "Succeeded"
                                ]
                            },
                            "type": "InitializeVariable",
                            "inputs": {
                                "variables": [
                                    {
                                        "name": "Email Subject",
                                        "type": "string"
                                    }
                                ]
                            }
                        },
                        "Initialize_Event_Name": {
                            "runAfter": {
                                "Initialize_Organization": [
                                    "Succeeded"
                                ]
                            },
                            "type": "InitializeVariable",
                            "inputs": {
                                "variables": [
                                    {
                                        "name": "Event Name",
                                        "type": "string"
                                    }
                                ]
                            }
                        },
                        "Initialize_Full_Name": {
                            "runAfter": {
                                "Initialize_Lead_ID": [
                                    "Succeeded"
                                ]
                            },
                            "type": "InitializeVariable",
                            "inputs": {
                                "variables": [
                                    {
                                        "name": "Full Name",
                                        "type": "string",
                                        "value": "@{triggerBody()['FirstName']} @{triggerBody()['LastName']}"
                                    }
                                ]
                            }
                        },
                        "Initialize_Lead_ID": {
                            "runAfter": {
                                "Initialize_Contact_ID": [
                                    "Succeeded"
                                ]
                            },
                            "type": "InitializeVariable",
                            "inputs": {
                                "variables": [
                                    {
                                        "name": "Lead ID",
                                        "type": "string"
                                    }
                                ]
                            }
                        },
                        "Initialize_Organization": {
                            "runAfter": {
                                "Initialize_Full_Name": [
                                    "Succeeded"
                                ]
                            },
                            "type": "InitializeVariable",
                            "inputs": {
                                "variables": [
                                    {
                                        "name": "Organization",
                                        "type": "string",
                                        "value": "@triggerBody()['Organization']"
                                    }
                                ]
                            }
                        },
                        "List_Contacts": {
                            "runAfter": {
                                "Initialize_Email_Attachments_Content_2": [
                                    "Succeeded"
                                ]
                            },
                            "type": "ApiConnection",
                            "inputs": {
                                "host": {
                                    "connection": {
                                        "name": "@parameters('$connections')['commondataservice']['connectionId']"
                                    }
                                },
                                "method": "get",
                                "path": "/v2/datasets/@{encodeURIComponent(encodeURIComponent('envisionit0.crm'))}/tables/@{encodeURIComponent(encodeURIComponent('contacts'))}/items",
                                "queries": {
                                    "$filter": "emailaddress1 eq '@{triggerBody()['Email']}'",
                                    "$top": 1
                                }
                            }
                        },
                        "Set_Email_Body": {
                            "runAfter": {
                                "Set_Email_Subject": [
                                    "Succeeded"
                                ]
                            },
                            "type": "SetVariable",
                            "inputs": {
                                "name": "Email Body",
                                "value": "@body('Get_Email')?['PageContent']"
                            }
                        },
                        "Set_Email_ID": {
                            "runAfter": {
                                "Get_Gated_Content_record": [
                                    "Succeeded"
                                ]
                            },
                            "type": "SetVariable",
                            "inputs": {
                                "name": "Email ID",
                                "value": "@{body('Get_Gated_Content_record')?['eit_downloademailid']}"
                            }
                        },
                        "Set_Email_Subject": {
                            "runAfter": {
                                "Get_Email": [
                                    "Succeeded"
                                ]
                            },
                            "type": "SetVariable",
                            "inputs": {
                                "name": "Email Subject",
                                "value": "@body('Get_Email')?['Subject']"
                            }
                        }
                    },
                    "outputs": {
                        
                    }
                },
                "parameters": {
                    "$connections": {
                        "value": {
                            "commondataservice": {
                                "connectionId": "[resourceId('Microsoft.Web/connections', parameters('connections_commondataservice_name'))]",
                                "connectionName": "commondataservice",
                                "id": "[concat('/subscriptions/', subscription().subscriptionId, '/providers/Microsoft.Web/locations/', resourceGroup().location, '/managedApis/commondataservice')]"
                            },
                            "office365": {
                                "connectionId": "[resourceId('Microsoft.Web/connections', parameters('connections_office365_name'))]",
                                "connectionName": "office365",
                                "id": "[concat('/subscriptions/', subscription().subscriptionId, '/providers/Microsoft.Web/locations/', resourceGroup().location, '/managedApis/office365')]"
                            },
                            "sharepointonline": {
                                "connectionId": "[resourceId('Microsoft.Web/connections', parameters('connections_sharepointonline_name'))]",
                                "connectionName": "sharepointonline",
                                "id": "[concat('/subscriptions/', subscription().subscriptionId, '/providers/Microsoft.Web/locations/', resourceGroup().location, '/managedApis/sharepointonline')]"
                            }
                        }
                    }
                }
            }
        }
    ]
}
