Logic Apps/CreateSite.json
{
  "definition": {
    "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
    "actions": {
      "Check_if_SiteCreated_is_empty": {
        "actions": {
          "Check_if_approved": {
            "actions": {
              "Check_if_the_site_was_successfully_created": {
                "actions": {
                  "Send_successfully_created_email": {
                    "inputs": {
                      "body": {
                        "Body": "<p>@{body('Get_item')?['EUMSiteURL']}</p>",
                        "Cc": "pcarson@envisionitdev.onmicrosoft.com",
                        "Subject": "Your site request for @{body('Get_item')?['EUMSiteURL']} has been approved and created",
                        "To": "@triggerBody()?['Author']?['Email']"
                      },
                      "host": {
                        "connection": {
                          "name": "@parameters('$connections')['office365']['connectionId']"
                        }
                      },
                      "method": "post",
                      "path": "/v2/Mail"
                    },
                    "runAfter": {},
                    "type": "ApiConnection"
                  }
                },
                "else": {
                  "actions": {
                    "Send_error_email": {
                      "inputs": {
                        "body": {
                          "Body": "<p>Check the Azure Automation logs.</p>",
                          "Subject": "The site request for @{body('Get_item')?['EUMSiteURL']} did not complete successfully",
                          "To": "pcarson@envisionitdev.onmicrosoft.com"
                        },
                        "host": {
                          "connection": {
                            "name": "@parameters('$connections')['office365']['connectionId']"
                          }
                        },
                        "method": "post",
                        "path": "/v2/Mail"
                      },
                      "runAfter": {},
                      "type": "ApiConnection"
                    }
                  }
                },
                "expression": {
                  "and": [
                    {
                      "not": {
                        "equals": [
                          "@variables('SiteCreated')",
                          ""
                        ]
                      }
                    }
                  ]
                },
                "runAfter": {
                  "Set_SiteCreated": [
                    "Succeeded"
                  ]
                },
                "type": "If"
              },
              "Create_job": {
                "inputs": {
                  "body": {
                    "properties": {
                      "parameters": {
                        "listItemID": "@triggerBody()?['ID']"
                      }
                    }
                  },
                  "host": {
                    "connection": {
                      "name": "@parameters('$connections')['azureautomation']['connectionId']"
                    }
                  },
                  "method": "put",
                  "path": "/subscriptions/@{encodeURIComponent('b906693c-5167-4a56-bbf3-b56142ee7219')}/resourceGroups/@{encodeURIComponent('EUMSites')}/providers/Microsoft.Automation/automationAccounts/@{encodeURIComponent('eitdev-siteprovisioning')}/jobs",
                  "queries": {
                    "runbookName": "CreateSite-Workflow",
                    "wait": true,
                    "x-ms-api-version": "2015-10-31"
                  }
                },
                "runAfter": {},
                "type": "ApiConnection"
              },
              "Get_item": {
                "inputs": {
                  "host": {
                    "connection": {
                      "name": "@parameters('$connections')['sharepointonline']['connectionId']"
                    }
                  },
                  "method": "get",
                  "path": "/datasets/@{encodeURIComponent(encodeURIComponent('https://envisionitdev.sharepoint.com/sites/Landing'))}/tables/@{encodeURIComponent(encodeURIComponent('0c6bd8d0-0f96-4371-9c83-14f4a86d0bb8'))}/items/@{encodeURIComponent(triggerBody()?['ID'])}"
                },
                "runAfter": {
                  "Create_job": [
                    "Succeeded"
                  ]
                },
                "type": "ApiConnection"
              },
              "Set_SiteCreated": {
                "inputs": {
                  "name": "SiteCreated",
                  "value": "@body('Get_item')?['EUMSiteCreated']"
                },
                "runAfter": {
                  "Get_item": [
                    "Succeeded"
                  ]
                },
                "type": "SetVariable"
              }
            },
            "else": {
              "actions": {
                "Send_rejection_email": {
                  "inputs": {
                    "body": {
                      "Body": "<p><br></p>",
                      "Cc": "pcarson@envisionitdev.onmicrosoft.com",
                      "Subject": "Your site request for @{triggerBody()?['EUMSiteURL']}@{triggerBody()?['EUMAlias']} was rejected",
                      "To": "@triggerBody()?['Author']?['Email']"
                    },
                    "host": {
                      "connection": {
                        "name": "@parameters('$connections')['office365']['connectionId']"
                      }
                    },
                    "method": "post",
                    "path": "/v2/Mail"
                  },
                  "runAfter": {},
                  "type": "ApiConnection"
                }
              }
            },
            "expression": {
              "and": [
                {
                  "equals": [
                    "@variables('ApprovalSelectedOption')",
                    "Approve"
                  ]
                }
              ]
            },
            "runAfter": {
              "Check_if_there_is_an_approver": [
                "Succeeded"
              ]
            },
            "type": "If"
          },
          "Check_if_there_is_an_approver": {
            "actions": {
              "Send_approval_email": {
                "inputs": {
                  "body": {
                    "Message": {
                      "Importance": "Normal",
                      "Options": "Approve, Reject",
                      "Subject": "Approval Request was made by @{triggerBody()?['Author']?['DisplayName']} for Team / Site @{triggerBody()?['EUMAlias']}@{triggerBody()?['EUMSiteURL']} ",
                      "To": "pcarson@envisionitdev.onmicrosoft.com"
                    },
                    "NotificationUrl": "@{listCallbackUrl()}"
                  },
                  "host": {
                    "connection": {
                      "name": "@parameters('$connections')['office365']['connectionId']"
                    }
                  },
                  "path": "/approvalmail/$subscriptions"
                },
                "runAfter": {},
                "type": "ApiConnectionWebhook"
              },
              "Set_approval_result": {
                "inputs": {
                  "name": "ApprovalSelectedOption",
                  "value": "@body('Send_approval_email')?['SelectedOption']"
                },
                "runAfter": {
                  "Send_approval_email": [
                    "Succeeded"
                  ]
                },
                "type": "SetVariable"
              }
            },
            "else": {
              "actions": {
                "Set_ApprovalSelectedOption_to_Approve": {
                  "inputs": {
                    "name": "ApprovalSelectedOption",
                    "value": "Approve"
                  },
                  "runAfter": {},
                  "type": "SetVariable"
                }
              }
            },
            "expression": {
              "and": [
                {
                  "not": {
                    "equals": [
                      "@variables('Approver')",
                      ""
                    ]
                  }
                }
              ]
            },
            "runAfter": {
              "For_each": [
                "Succeeded"
              ]
            },
            "type": "If"
          },
          "For_each": {
            "actions": {
              "For_each_2": {
                "actions": {
                  "Set_variable": {
                    "inputs": {
                      "name": "Approver",
                      "value": "@items('For_each_2')?['Email']"
                    },
                    "runAfter": {},
                    "type": "SetVariable"
                  }
                },
                "foreach": "@items('For_each')['Approver']",
                "runAfter": {},
                "type": "Foreach"
              }
            },
            "foreach": "@body('Get_items')?['value']",
            "runAfter": {
              "Get_items": [
                "Succeeded"
              ]
            },
            "type": "Foreach"
          },
          "Get_items": {
            "inputs": {
              "host": {
                "connection": {
                  "name": "@parameters('$connections')['sharepointonline']['connectionId']"
                }
              },
              "method": "get",
              "path": "/datasets/@{encodeURIComponent(encodeURIComponent('https://envisionitdev.sharepoint.com/sites/Landing'))}/tables/@{encodeURIComponent(encodeURIComponent('21b67df9-a804-45ea-9ebc-56ed397b806c'))}/items",
              "queries": {
                "$filter": "Title eq '@{triggerBody()?['EUMDivision']?['Value']}'"
              }
            },
            "runAfter": {},
            "type": "ApiConnection"
          }
        },
        "expression": {
          "and": [
            {
              "equals": [
                "@variables('SiteCreated')",
                ""
              ]
            }
          ]
        },
        "runAfter": {
          "Initialize_DebugOutput": [
            "Succeeded"
          ]
        },
        "type": "If"
      },
      "Initialize_ApprovalSelectedOption": {
        "inputs": {
          "variables": [
            {
              "name": "ApprovalSelectedOption",
              "type": "string"
            }
          ]
        },
        "runAfter": {
          "Initialize_Approver": [
            "Succeeded"
          ]
        },
        "type": "InitializeVariable"
      },
      "Initialize_Approver": {
        "inputs": {
          "variables": [
            {
              "name": "Approver",
              "type": "string"
            }
          ]
        },
        "runAfter": {
          "Initialize_SiteCreated": [
            "Succeeded"
          ]
        },
        "type": "InitializeVariable"
      },
      "Initialize_DebugOutput": {
        "inputs": {
          "variables": [
            {
              "name": "DebugOutput",
              "type": "string"
            }
          ]
        },
        "runAfter": {
          "Initialize_ApprovalSelectedOption": [
            "Succeeded"
          ]
        },
        "type": "InitializeVariable"
      },
      "Initialize_SiteCreated": {
        "inputs": {
          "variables": [
            {
              "name": "SiteCreated",
              "type": "string",
              "value": "@triggerBody()?['EUMSiteCreated']"
            }
          ]
        },
        "runAfter": {},
        "type": "InitializeVariable"
      }
    },
    "contentVersion": "1.0.0.0",
    "outputs": {},
    "parameters": {
      "$connections": {
        "defaultValue": {},
        "type": "Object"
      }
    },
    "triggers": {
      "When_an_item_is_created": {
        "inputs": {
          "host": {
            "connection": {
              "name": "@parameters('$connections')['sharepointonline']['connectionId']"
            }
          },
          "method": "get",
          "path": "/datasets/@{encodeURIComponent(encodeURIComponent('https://envisionitdev.sharepoint.com/sites/Landing'))}/tables/@{encodeURIComponent(encodeURIComponent('0c6bd8d0-0f96-4371-9c83-14f4a86d0bb8'))}/onnewitems"
        },
        "recurrence": {
          "frequency": "Minute",
          "interval": 1
        },
        "splitOn": "@triggerBody()?['value']",
        "type": "ApiConnection"
      }
    }
  },
  "parameters": {
    "$connections": {
      "value": {
        "azureautomation": {
          "connectionId": "/subscriptions/b906693c-5167-4a56-bbf3-b56142ee7219/resourceGroups/EUMSites/providers/Microsoft.Web/connections/azureautomation",
          "connectionName": "azureautomation",
          "id": "/subscriptions/b906693c-5167-4a56-bbf3-b56142ee7219/providers/Microsoft.Web/locations/canadacentral/managedApis/azureautomation"
        },
        "office365": {
          "connectionId": "/subscriptions/b906693c-5167-4a56-bbf3-b56142ee7219/resourceGroups/EUMSites/providers/Microsoft.Web/connections/office365",
          "connectionName": "office365",
          "id": "/subscriptions/b906693c-5167-4a56-bbf3-b56142ee7219/providers/Microsoft.Web/locations/canadacentral/managedApis/office365"
        },
        "sharepointonline": {
          "connectionId": "/subscriptions/b906693c-5167-4a56-bbf3-b56142ee7219/resourceGroups/EUMSites/providers/Microsoft.Web/connections/sharepointonline",
          "connectionName": "sharepointonline",
          "id": "/subscriptions/b906693c-5167-4a56-bbf3-b56142ee7219/providers/Microsoft.Web/locations/canadacentral/managedApis/sharepointonline"
        }
      }
    }
  }
}